#socialMedia {
  padding: 50px 0px 100px 0px;
  display: block;
  position: relative;
  margin: 0 auto;
  width: 90%;
  text-align: center;
}
#socialMedia > a {
  text-decoration: none;
  color: #003a51;
  font-size: 40px;
  margin: 0px 20px 0px 20px;
}
#contactForm {
  width: 100%;
  display: block;
  position: relative;
  margin: 0 auto;
  padding-top: 50px;
  background-color: rgba(254, 227, 237, 0.75);
}
#contactForm .titleWithIcon,
#socialMedia .titleWithIcon {
  text-align: center;
}
.titleWithIcon {
  margin-top: 0px;
}
label {
  display: block;
  text-align: left;
  font-size: 18px;
  margin: 30px 0px 10px 0px;
}
form {
  padding: 0px 50px 50px 50px;
  margin: 0 auto;
}
input,
textarea {
  width: 100%;
  padding: 10px 10px;
  box-sizing: border-box;
}
textarea {
  resize: none;
  min-height: 100px;
}
input[type="button"] {
  width: 100%;
  display: block;
  position: relative;
  text-transform: uppercase;
  margin: 30px 0px;
  text-align: center;
  background-color: #003a51;
  padding: 20px 20px;
  color: #ffffff;
  font-size: 18px;
  border-radius: 5px;
  font-family: "Dosis", sans-serif;
  box-sizing: border-box;
}
form > p {
  margin-top: 5px;
  font-size: 14px;
  color: #c02e64;
  display: none;
}
::placeholder {
  font-size: 14px;
}
#formSubmissionStatus {
  font-size: 20px;
  color: #c02e64;
  font-weight: bold;
  text-align: center;
}
@media only screen and (min-width: 1100px) {
  #contactForm {
    width: 50%;
    padding: 50px 50px 100px 50px;
  }
  #socialMedia {
    width: 90%;
    padding: 50px 50px 100px 50px;
  }
}
