/* general styles */

* {
  margin: 0px;
}

body {
  font-family: "Dosis", sans-serif;
}

/* nav style */

nav {
  background-color: #fee3ed;
  -webkit-box-shadow: 0px 3px 7px -4px rgba(0, 0, 0, 0.47);
  -moz-box-shadow: 0px 3px 7px -4px rgba(0, 0, 0, 0.47);
  box-shadow: 0px 3px 7px -4px rgba(0, 0, 0, 0.47);
  padding: 0px 100px 0px 100px;
  display: flex;
  justify-content: space-between;
  font-weight: 300;
  color: #003a51;
}

nav div {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
  margin: 16px 16px;
}

.fa-bars {
  padding: 10px 10px;
  margin: 16px 16px;
  font-size: 20px;
  cursor: pointer;
}

.menus {
  list-style: none;
  position: absolute;
  right: 0px;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #fee3ed;
  margin-top: 70px;
  padding: 0px 15px;
  display: none;
  transition: transform 0.5s ease-in;
}

.menus li {
  padding: 20px 40px;
}

.menusActive {
  display: block;
  -webkit-box-shadow: 0px 3px 7px -4px rgba(0, 0, 0, 0.47);
  -moz-box-shadow: 0px 3px 7px -4px rgba(0, 0, 0, 0.47);
  box-shadow: 0px 3px 7px -4px rgba(0, 0, 0, 0.47);
  transition: opacity 10s ease-in-out;
  opacity: 1;
  padding: 0px;
  min-width: 35%;
}

.menus li:hover {
  background-color: #c02e64;
  color: #ffffff;
}
.menus li:hover a {
  color: #ffffff;
}
.menus a {
  text-decoration: none;
  color: #003a51;
}



/* Footer Styles */
footer {
  width: 100%;
  display: block;
  position: absolute;
  background-color: #003a51;
  bottom: 0px;
}

footer p {
  color: #ffffff;
  text-align: center;
  font-size:10px;
  padding:10px 10px
}

/* Style for Desktop */

@media screen and (min-width: 540px) {
  nav .menus {
    display: flex;
    list-style: none;
    text-transform: capitalize;
    justify-content: space-around;
    width: 40%;
    padding: 10px 10px;
    margin: 16px 16px;
    position: relative;
    flex-direction: row;
    top: 0;
  }

  .menus li {
    padding: 0px 10px;
  }

  .fa-bars {
    display: none !important;
  }

  .menusActive {
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  }

  .menus li:hover {
    background-color: #fee3ed;
    cursor: pointer;
  }

  .menus li:hover a {
    color: #c02e64;
  }

  #intro {
    background-image: url('bg.png');
    height: 100vh;
    width: 100%;
    overflow-y: hidden;
    position: fixed;
    background-size: cover;
  } 

  #introText {
    width: 25%;
    background-color: rgba(0,58,81, .75);
    display: block;
    position: relative;
    margin: 150px 150px;
    padding: 50px 50px;
    color: #fee3ed;
  } 

  #introText p{
    line-height: 30px;
    margin-bottom: 10px;
  }

  #introText a{
    color:#ffffff;
  }
}
