/* general styles */

* {
  margin: 0px;
}

body {
  font-family: "Dosis", sans-serif;
}

/* nav style */

nav {
  background-color: #fee3ed;
  -webkit-box-shadow: 0px 3px 7px -4px rgba(0, 0, 0, 0.47);
  -moz-box-shadow: 0px 3px 7px -4px rgba(0, 0, 0, 0.47);
  box-shadow: 0px 3px 7px -4px rgba(0, 0, 0, 0.47);
  padding: 0px 10% 0px 10%;
  display: flex;
  justify-content: space-between;
  font-weight: 300;
  color: #003a51;
}

nav div {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
  margin: 16px 16px;
}

.fa-bars {
  padding: 10px 10px;
  margin: 16px 16px;
  font-size: 20px;
  cursor: pointer;
}

.menus {
  list-style: none;
  position: absolute;
  right: 0px;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #fee3ed;
  margin-top: 70px;
  padding: 0px 15px;
  display: none;
  transition: transform 0.5s ease-in;
  z-index: 2;
}

.menus li {
  padding: 20px 40px;
}

.menusActive {
  display: block;
  -webkit-box-shadow: 0px 3px 7px -4px rgba(0, 0, 0, 0.47);
  -moz-box-shadow: 0px 3px 7px -4px rgba(0, 0, 0, 0.47);
  box-shadow: 0px 3px 7px -4px rgba(0, 0, 0, 0.47);
  transition: opacity 10s ease-in-out;
  opacity: 1;
  padding: 0px;
  min-width: 35%;
}

.menus li:hover {
  background-color: #c02e64;
  color: #ffffff;
}
.menus li:hover a {
  color: #ffffff;
}
.menus a {
  text-decoration: none;
  color: #003a51;
}

/* Footer Styles */
footer {
  width: 100%;
  display: block;
  position: absolute;
  background-color: #003a51;
  bottom: 0px;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10px;
  height: 5%;

  text-align: center;
}

footer p {
  text-align: center;
  font-size: 10px;
}
footer > * {
  color: #ffffff;
}

#social {
  width: 50%;
  margin: 0 auto;
  position: relative;
  padding: 5px 5px;
}

#social > a > * {
  width: 10%;
  color: #ffffff;
}

/*Background style*/

#intro {
  background-image: url("bg.png");
  min-height: 100%;
  width: 100%;
  position: absolute;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

#introText {
  width: 50%;
  background-color: rgba(0, 58, 81, 0.75);
  display: block;
  position: relative;
  margin: 50px auto;
  padding: 50px 50px;
  color: #fee3ed;
}
#introText p {
  line-height: 30px;
  margin-bottom: 10px;
}

#introText a {
  color: #ffffff;
}
/* Styles for Tablet */

@media screen and (min-width: 768px) {
  nav {
    padding: 0px 100px 0px 100px;
  }

  nav .menus {
    display: flex;
    list-style: none;
    text-transform: capitalize;
    justify-content: space-around;
    width: 40%;
    padding: 10px 10px;
    margin: 16px 16px;
    position: relative;
    flex-direction: row;
    top: 0;
  }

  .menus li {
    padding: 0px 10px;
  }

  .fa-bars {
    display: none !important;
  }

  .menusActive {
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  }

  .menus li:hover {
    background-color: #fee3ed;
    cursor: pointer;
  }

  .menus li:hover a {
    color: #c02e64;
  }
}

/* Styles for Desktop */

@media screen and (min-width: 1200px) {
  nav {
    padding: 0px 100px 0px 100px;
  }

  nav .menus {
    display: flex;
    list-style: none;
    text-transform: capitalize;
    justify-content: space-around;
    width: 40%;
    padding: 10px 10px;
    margin: 16px 16px;
    position: relative;
    flex-direction: row;
    top: 0;
  }

  .menus li {
    padding: 0px 10px;
  }

  .fa-bars {
    display: none !important;
  }

  .menusActive {
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  }

  .menus li:hover {
    background-color: #fee3ed;
    cursor: pointer;
  }

  .menus li:hover a {
    color: #c02e64;
  }

  #introText {
    width: 25%;
    position: relative;
    margin: 100px 150px;
    padding: 50px 50px;
    color: #fee3ed;
  }
  #social > a > * {
    width: 5%;
    color: #ffffff;
    font-size: 18px;
  }
}
